<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/Assets/client/hstatic.net/939/1000035939/1000056344/faviconcc31.png?v=801" type="image/png">
    <title>
        BookStore - Thanh toán đơn hàng
    </title>
    <meta name="description" content="BookStore - Thanh toán đơn hàng">
    <link href="/Assets/client/css/check_out.css" rel="stylesheet" />
    <script src='/Assets/client/hstatic.net/939/1000035939/1000056344/jquery-1.9.1.mincc31.js?v=801' type='text/javascript'></script>
    <script src="/Assets/client/js/plugins/jquery.validate.js"></script>
    <script src="/Assets/client/js/plugins/additional-methods.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
</head>
<body class="step1">
    @RenderBody()
    @RenderSection("footerJS", required: false)
</body>
</html>