<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="PageSize" value="10"/>
  <add key="PageSizeBlog" value="3"/>
  <add key="MaxPage" value="3"/>

  <add key="CurrentLink" value="http://localhost:60925/"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="z00freestyle00z@gmail.com"/>
  <add key="FromEmailPassword" value="xxx"/>
  <add key="AdminEmail" value="z00hoilamgi00z@gmail.com"/>
  <add key="FromName" value="BookStore"/>

  <add key="Facebook" value="https://www.facebook.com/"/>
  <add key="Twitter" value="http://twitter.com/"/>
  <add key="Vimeo" value="https://vimeo.com/"/>
  <add key="Pinterest" value="https://google.com/"/>
  <add key="Mocua" value="Online từ 8h30 đến 21h00 từ Thứ 2 - Chủ Nhật"/>
 
  <add key="HomeTitle" value="BookStore | Website Mua Sách Trực Tuyến Được Yêu Thích Nhất"/>
  <add key="HomeKeyword" value="Nhà sách trên mạng, nhà sách trực tuyến, sách online, sách hay, sách miễn phí, sách điện tử, mua sách, bán sách, sahara, songhuong, fahasha, minh khai, phương nam, nguyễn văn cừ"/>
  <add key="HomeDescription" value="Nhà sách trên mạng lớn nhất Việt nam, với trên 50000 đầu sách các loại gồm các chủ đề như: Kinh tế, văn học, tin học, thiếu nhi..., dịch vụ đặt hàng trực tuyến, giao hàng trong và ngoài nước"/>
</appSettings>